---
interface Props {
  githubUrl: string;
  siteUrl: string;
}
const { githubUrl, siteUrl } = Astro.props;
---

<footer class="border-t max-w-60ch m-auto">
  <div class="flex justify-center mt-3">
    <a href={githubUrl} target="_blank">
      <div
        class="github-link"
      >
      </div>
    </a>
    <a href={siteUrl} target="_blank">
      <div
        class="site-link"
      >
      </div>
    </a>
  </div>
</footer>
