---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import PostList from "../../components/PostList.astro";
---
<Layout title="Posts" description="Posts">
    <main>
        <h1 class="text-center">Blog <span class="text-gradient">Posts</span></h1>
        <a class="text-size-6 font-bold text-center">Nothing here yet!!!</a>
		<!-- <PostList /> -->
		<ul role="list" class="link-card-grid">
			<PostList
		</ul>
    </main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
