/* TODO: See if using * does anything */

* {
  --uno: "dark:text-white" "light:text-dark";
}

:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  );
  font-family: "Mona Sans";
  --uno: bg-white;
  --uno: "dark:bg-gray-700";
  --uno: "dark:text-white";
  --uno: "light:text-dark";
  --uno: "dark:text-white" "light:text-dark";
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

h1 {
  font-family: "Hubot Sans";
}

h2 {
  font-family: "Hubot Sans";
}
