---
import Layout from '../layouts/Layout.astro';
import '../styles/index.css';
---

<Layout title="About" description="About Page">
    <main>
        <h1><span class="text-gradient">About</span></h1>
        <h2 class=":uno: text-size-2xl text-center mt-3">About this project</h2>
        <p>
            <p>
                This is a project where I'm just trying to figure out if I should switch to Astro from Next.js 
            </p>
            <p>So far, I see nothing to indicate otherwise, its fast <span class="i-game-icons-rocket-thruster" /> as a rocketship because it can ship zero javascript, its easy to work with, and has a beutiful community</p>
            <p>But am I going to switch to it? Currently, probably. Its just so much faster than Next.js, and its just good overall.</p>
        </p>
        <h2 class=":uno: text-size-2xl text-center mt-3">About Me</h2>
        <p>
            <p>
                I'm just a teenager learning to code, half the time I have know idea what I'm doing half the time, but love doing it! I tend to chase the hype train, and probably use too many tools, but alas, I love doing it.
            </p>
        </p>
    </main>
</Layout>