---
import Layout from "@layouts/Layout.astro";

import "@styles/text-gradient.css";

import { Image } from "@astrojs/image/components";
import Joe from "../assets/Joe.jpg";
export const prerender = true;
---

<Layout title="About" description="About Page">
  <main class="prose wrapper">
    <title>About Astro Boi</title>
    <h1 class="title"><span class="text-gradient">About</span></h1>
    <h2 class="mt-3">About this project</h2>
    <p>
      <p>
        This is a project where I'm just trying to figure out if I should switch
        to Astro from Next.js
      </p>
      <p>
        So far, I see nothing to indicate otherwise, its fast as a rocketship <span
          class=":uno: i-game-icons-rocket-thruster inline-block"></span> because
        it can ship zero javascript, its easy to work with, and has a beutiful community
      </p>
      <p>
        But am I going to switch to it? Currently, probably. Its just so much
        faster than Next.js, and its just good overall.
      </p>
    </p>
    <h2 class="mt-3">About Me</h2>
    <p>
      <Image src={Joe} alt="Derpy Picture" aspectRatio="16:9" />
      <p>
        I'm just a teenager learning to code, half the time I have know idea
        what I'm doing half the time, but love doing it! I tend to chase the
        hype train, and probably use too many tools, but alas, I love doing it.
      </p>
    </p>
  </main>
</Layout>
