---
import Layout from "@layouts/Layout.astro";
import PostList from "@components/PostList.astro";

import '@styles/text-gradient.css'
---
<Layout title="Posts" description="Posts">
    <main class="prose">
        <title>Blog Posts</title>
        <h1>Blog <span class="text-gradient">Posts</span></h1>
		<PostList />
    </main>
</Layout>