---
import Layout from "../layouts/Layout.astro";
import PostList from "../components/PostList.astro";

import '../styles/text-gradient.css'
---
<Layout title="Posts" description="Posts">
    <main class="prose">
        <h1 class="text-center">Blog <span class="text-gradient">Posts</span></h1>
		<PostList />
    </main>
</Layout>