---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Astro-boi" description="Home Page">
	<main>
		<h1><span class="text-gradient">Astro Boi</span></h1>
		<ul role="list" class="link-card-grid">
			<Card
				href="/projects"
				title="Projects"
				body="View my personal projects"
			/>
			<Card
				href="/blog"
				title="Blog"
				body="My blog posts"
			/>
		</ul>
	</main>
</Layout>
