---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects" description="Projects">
    <main>
        <h1 class="text-center">My <span class="text-gradient">Projects</span></h1>
		<ul role="list" class="link-card-grid">
			<Card
				title="Next Boi"
				body="My current main blog site, made with Next.js and TailwindCSS"
				href="https://next-boi.vercel.app"
			/>
			<Card
				title="Astro Boi"
				body="My current main blog site, made with Astro and UnoCSS, (your on it right now)"
				href="https://astroi-boi.netlify.app/"
			/>
		</ul>
    </main>
</Layout>


<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
