---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects" description="Projects">
	<head>
		<link rel="stylesheet" href="/styles/index.css" />
	</head>
    <main>
        <h1 class="text-center">My <span class="text-gradient">Projects</span></h1>
		<ul role="list" class="link-card-grid">
			<Card
				title="Next Boi"
				body="My current main blog site, made with Next.js and TailwindCSS"
				href="https://next-boi.vercel.app"
			/>
			<Card
				title="Astro Boi"
				body="My current main blog site, made with Astro and UnoCSS, (your on it right now)"
				href="https://astroi-boi.netlify.app/"
			/>
		</ul>
    </main>
</Layout>
