<!-- So we gotta make sure all links use the btn class -->
<!-- We are using astro -->
<!-- We are using talwindcss -->
<!-- The navbar is on the top -->
<div>
    <nav class="bg-gray-800">
        
    </nav>
</div>