---
// TODO: Switch to mdx
// Find all .md files in the posts directory
const posts = await Astro.glob('../pages/posts/*.md')

// Filter out any posts with a draft frontmatter value
const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);

// Import the Card component
import Card from "./Card.astro";

// Import the CSS file
import '../styles/link-card-grid.css'
---

<div>
    <ul role="list" class="link-card-grid">
        {nonDraftPosts.map((post) => (
            <Card
                title={post.frontmatter.title}
                body={post.frontmatter.description}
                href={post.frontmatter.url}
            />
        ))}
    </ul>
</div>
