---
/**
 * This file represents the PostList component.
 * It imports the `getCollection` function from the `astro:content` package to retrieve all published blog posts.
 * It also imports the `Card` component from the local `Card.astro` file.
 */
import { getCollection } from "astro:content";

// Get all published blog posts
const blogPosts = await getCollection("posts");

import Card from "./Card.astro";
---

<div>
  <ul role="list" class="link-card-grid">
    {
      blogPosts.map((post) => (
        <Card
          title={post.data.title}
          body={post.data.description}
          href={"blog/" + post.slug}
        />
      ))
    }
  </ul>
</div>
