---
import Layout from "@layouts/Layout.astro";
import ProjectLinks from "@components/Projects/ProjectLinks.astro";
---

<Layout description="This is about astro-boi" title="Astro-Boi Project">
    <main class="prose">
        <title>Astro Boi Project</title>
        <article>
            <h1>Astro Boi</h1>
            <p>
                <p>Astro Boi is the latest project I've been working on!</p>
                <p>It runs on <a href="https://astro.build/" target="_blank">Astro</a> for the framework, and <a href="https://github.com/unocss/unocss" target="_blank">UnoCSS</a> for styling!</p>
                <p>It also uses <a href="https://github.com/mona-sans" target="_blank">Mona and Hubot Sans</a> which are some pretty cool variable fonts</p>
            </p>
        </article>
        <ProjectLinks githubUrl="https://github.com/Dragonlord1005/astro-boi" siteUrl="https://astro-boi.dragonlord1005.com/" />
    </main>
</Layout>