---
import Layout from "../../layouts/Layout.astro";
---

<Layout description="This is about astro-boi" title="Astro-Boi Project">
    <main class="prose text-center">
        <h1>Astro Boi</h1>
        <p>
            <p>Astro Boi is the latest project I've been working on!</p>
            <p>It runs on Astro for the framework, and UnoCSS for styling!</p>
            <!-- TODO: Fill this out more -->
        </p>
    </main>
    <footer class="border-t max-w-60ch m-auto">
            <div class="flex justify-center mt-3">
                <a href="https://github.com/Dragonlord1005/astro-boi" target="_blank">
                    <div class="github-link"></div>
                </a>
                <a href="https://astro-boi.vercel.app/" target="_blank">
                    <div class="page-link"></div>
                </a>
            </div>
    </footer>
</Layout>