---
import Layout from "../../layouts/Layout.astro";
---

<Layout description="This is about astro-boi" title="Astro-Boi Project">
    <main class="prose">
        <h1>Astro Boi</h1>
        <p>
            <p>Astro Boi is the latest project I've been working on!</p>
            <p>It runs on <a href="https://astro.build/" target="_blank">Astro</a> for the framework, and <a href="https://github.com/unocss/unocss" target="_blank">UnoCSS</a> for styling!</p>
            <p>It also uses <a href="https://github.com/mona-sans" target="_blank">Mona and Hubot Sans</a> which are some pretty cool variable fonts</p>
            <!-- TODO: Fill this out more -->
        </p>
        <footer class="border-t max-w-60ch m-auto">
            <div class="flex justify-center mt-3">
                <a href="https://github.com/Dragonlord1005/astro-boi" target="_blank">
                    <div class="i-carbon-logo-github w-1.5em h-1.5em hover:(text-yellow w-1.7em h-1.7em transition-duration-1.5s) mr-3"></div>
                </a>
                <a href="https://astro-boi.vercel.app/" target="_blank">
                    <div class="i-material-symbols-open-in-new-rounded w-1.5em h-1.5em hover:(text-yellow w-1.7em h-1.7em transition-duration-1.5s)"></div>
                </a>
            </div>
        </footer>
    </main>
</Layout>