---
import Layout from "../../layouts/Layout.astro";
---

<Layout description="This is about Next-Boi" title="Next Boi">
    <main class="prose">
        <h1>Next Boi</h1>
        <p>Next Boi is Next.js</p>
        <footer class="border-t max-w-60ch m-auto">
            <div class="flex justify-center mt-3">
                <a href="https://github.com/Dragonlord1005/astro-boi" target="_blank">
                    <div class="i-carbon-logo-github w-1.5em h-1.5em hover:(text-yellow w-1.7em h-1.7em transition-duration-1.5s) mr-3"></div>
                </a>
                <a href="https://astro-boi.vercel.app/" target="_blank">
                    <div class="i-material-symbols-open-in-new-rounded w-1.5em h-1.5em hover:(text-yellow w-1.7em h-1.7em transition-duration-1.5s)"></div>
                </a>
            </div>
        </footer>
    </main>
</Layout>