---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
import Navigation from "@components/Navigation.astro";

import "@styles/reset.css";
import "@styles/main.css";

import { SEO } from "astro-seo";

// import "@fontsource/inter/400.css";
// import "@fontsource/inter/variable.css";
---

<!doctype html>
<html lang="en">
  <head>
    <SEO title={title} description={description} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale-1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script
      async
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-ZXNLX86V8S"
      type="text/partytown"
      type="text/plain"></script>
    <script is:inline type="text/partytown" type="text/plain">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-ZXNLX86V8S");
    </script></head
  >

  <header>
    <Navigation />
  </header>
  <body>
    <slot />
  </body>
</html>
