---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
import Navigation from '../components/Navigation';

import '../styles/layout.css'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="preload" href="fonts/Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="fonts/Hubot-Sans.woff2" as="font" type="font/woff2" crossorigin>
	</head>
	<header>
		<Navigation />
	</header>
	<body>
		<slot />
	</body>
</html>