---
// Is this file even used?
import type { MarkdownLayoutProps } from "astro";

import BaseLayout from "./BaseLayout.astro";

// type Props = MarkdownLayoutProps<{
//   title: string;
//   author: string;
//   publishDate: string;
//   url: string;
//   description: string;
// }>;
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <h1 class="title">{frontmatter.title}</h1>
    <!-- <h2>Author: {frontmatter.author}</h2> -->
    <slot />
</BaseLayout>