---
import MarkdownLayout from "./MarkdownLayout.astro";
---

<MarkdownLayout>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum perspiciatis laborum autem accusantium reiciendis hic, sed distinctio? Ab laudantium exercitationem eligendi aspernatur, assumenda incidunt iste voluptatibus excepturi aliquid recusandae rem.</p>
</MarkdownLayout>